<div id="site-nav">
  <div class="pad">
    <nav class="menu-nav app-nav no-img">
      <ul class="c">
        <li class="slim">
            <a href="{{ url('ecosystem.landing_page') }}">
                {{ _('The Bridge') }}
            </a>
        </li>
        <li class="slim">
            <a href="{{ url('ecosystem.content_page') }}">
                {{ _('Prison Block') }}
            </a>
        </li>
        <li class="slim">
            <a href="{{ url('ecosystem.content_page') }}">
                {{ _('Trash Compactor') }}
            </a>
        </li>

      </ul>
    </nav>
  </div>
</div>

